*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Courier New', monospace ;
    font-weight: normal;  
}

body{
    padding: 0;
    margin: 0;
     background: linear-gradient(to right, #80498f, #541b2e);     /*background color , change*/
}

.grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid red;                                        /*border colour  */
    outline: none;
    background-color: aqua;                                       /*rgba 255, 255,255, 75 */
}

.grid > button:hover{
    background-color: rgba(255, 255,255, .75);
}

.span-two{
    grid-column: span 2;
}

.output_display{

    grid-column: 1/-1;                                             /*control display size */
    background-color:rgba(246, 166, 166, 0.5); 
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}

.output_display .first_input_value{
     color:rgba(233, 214, 214, 0.75);                                       /*colour inside display box value text   */
     font-size: 1.5rem;
}

.output_display .second_input_value{
    color: rgb(255, 240, 240);                                         /*colour inside display box value text   */
    font-size: 1.5rem;
}








